body {
  background: #4ca1af; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #c4e0e5,
    #4ca1af
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #c4e0e5,
    #4ca1af
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
